<div class="mat-app-background basic-container">
  <app-toolbar [homeTitle]="homeTitle"></app-toolbar>
  <main>
    <mat-card>
      <mat-divider></mat-divider>
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <router-outlet>

        </router-outlet>
      </mat-card-content>

      <mat-divider></mat-divider>
    </mat-card>
  </main>
</div>
<span class="version-info">Current build: 9.2.4 </span>
<span class="version-info">Author: Ramkesh Banwala </span>
<!-- <div class="survey-label">Raised</div>
<div class="survey-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div> -->